@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
    
body {
	font-family: 'Montserrat', sans-serif;
    }

.topnav {
    background-color: #d9d9d9;
    overflow: hidden;
    height: 80px;
    border-radius: 50px;
}

.topnav a {
    position: relative;
    left: 400px;
    float: left;
    text-decoration: none;
    font-size: 20px;
    padding: 25px;
    color: black;
}

.topnav a:hover {
    color: grey;
}

.logo {
    width: 90px;
    height: 90px;
    position: relative;
    right: 185px;
    bottom: 5px;
}

.dropdown {
    float: right;
}

.dropBtn  {
    position: relative;
    right: 715px;
    bottom: 22px;
    font-size: 20px;
    padding: 24px 0px 25px 10px;
    color: black;
    border: none;
    outline: none;
    background-color: inherit;
    font-family: inherit;
    margin: 0px;
}

.dropBtn:hover {
    color: grey;
}

.dropdowncontentadopt {
    display: none;
    position: absolute;
    right: 465px;
    top: 85px;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(187, 182, 182, 0.2);
    z-index: 1;
  }

.dropdowncontentdonate {
    display: none;
    position: absolute;
    right: 420px;
    top: 85px;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(187, 182, 182, 0.2);
    z-index: 1;
  }

.dropdowncontentvolunteer {
    display: none;
    position: absolute;
    right: 190px;
    top: 85px;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(187, 182, 182, 0.2);
    z-index: 1;
  }

.dropdowncontentadopt a { 
    left: 7px;
    float: none;
    color: black;
    padding: 25px;
    text-decoration: none;
    display: block;
    
}

.dropdowncontentadopt a:hover {
    color: grey;
}

.dropdown:hover .dropdowncontentadopt {
    display: block;
}

.dropdowncontentdonate a { 
    left: 7px;
    float: none;
    color: black;
    padding: 25px;
    text-decoration: none;
    display: block;
    
}

.dropdowncontentdonate a:hover {
    color: grey;
}

.dropdown:hover .dropdowncontentdonate {
    display: block;
}

.dropdowncontentvolunteer a { 
    left: 7px;
    float: none;
    color: black;
    padding: 25px;
    text-decoration: none;
    display: block;
    
}

.dropdowncontentvolunteer a:hover {
    color: grey;
}

.dropdown:hover .dropdowncontentvolunteer {
    display: block;
}

h1 {
    margin-left: 50px;
}

label {
    margin-left: 50px;
    margin-top: 10px;
}

input[type=text] {
    width: 500px;
    border-radius: 10px;
    background-color: #d9d9d9;
    border: 1px solid black;
    height: 30px;
    position: relative;
    left: 50px;
    text-indent: 10px;
    margin-top: 10px;
}

.lastName {
    float: right;
    margin-right: 200px;
}

.lastNametext {
    margin-left: 560px;
}

.phoneNumbertext {
    margin-left: 600px;
}
 

input[type=email] {
    width: 500px;
    border-radius: 10px;
    background-color: #d9d9d9;
    border: 1px solid black;
    height: 30px;
    position: relative;
    left: 50px;
    text-indent: 10px;
    margin-top: 10px;
}

input[type=tel] {
    width: 500px;
    border-radius: 10px;
    background-color: #d9d9d9;
    border: 1px solid black;
    height: 30px;
    position: relative;
    left: 50px;
    text-indent: 10px;
    margin-top: 10px;
    float: right;
}

::placeholder {
    color: grey;
    font-family: 'Montserrat', sans-serif;

}

.appointmentBtn {
    width: 500px;
    height: 30px;
    margin-left: 400px;
    margin-top: 50px;
    border-radius: 20px;
    border: 1px solid black;
    font-family: 'Montserrat', sans-serif;
}

.appointmentBtn:hover {
    background-color: grey;
    color: white;
}